GITHUB_PAT=ghp_IWYeTTx...
GITHUB_TOKEN=ghp_IWYeTTx...
ARGOCD_PASSWORD=DCQuLQ...
DOCKERHUB_USERNAME=christseng89
DOCKERHUB_TOKEN=dckr_pat_...
AUTH_GITHUB_CLIENT_ID=Ov23li...
AUTH_GITHUB_CLIENT_SECRET=d6d1c...
K8S_SA_TOKEN=eyJhbGciOiJSUzI1...
